__pycache__
# Ignore all models by default, but keep rtla subfolder
models/*
!models/rtla/
!models/rtla/**
checkpoint/
outputs/
output/
Python-Wrapper-for-World-Vocoder/
.idea/
.caches/
*venv*
espeak-ng.msi