./wheels/audiosr-0.0.9-py3-none-any.whl
./wheels/dctorch-0.1.2-py3-none-any.whl
./wheels/coqui_tts-0.26.0-py3-none-any.whl
./wheels/fairseq-0.13.0-cp310-cp310-win_amd64.whl; sys_platform == "win32"
./wheels/fairseq-0.13.0-cp310-cp310-linux_x86_64.whl; sys_platform != "win32"
./wheels/laion_clap-1.1.5-py3-none-any.whl
./wheels/openvoice_cli-0.0.6-py3-none-any.whl
./wheels/stable_audio_tools-0.0.20-py3-none-any.whl
accelerate>=0.34.2
causal_conv1d==1.5.0.post8; sys_platform != "win32"
chardet
chatterbox-tts
click
cn2an
cog
cutlet
dataset
datasets>=3.4.1
demucs>=4.0.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers>=0.32.2
einops>=0.8.0
faiss-cpu>=1.11.0
ffmpeg
ffmpeg-python
ffmpeg_progress_yield
flash_attn==2.7.4.post1; sys_platform != "win32"
ftfy>=6.3.1
fugashi[unidic-lite]
gradio>=5.29.0
hangul-romanize>=0.1.0
hf_xet
https://github.com/d8ahazard/AudioLab/releases/download/1.0.0/causal_conv1d-1.5.0.post8-cp310-cp310-win_amd64.whl; sys_platform == "win32" and python_version == "3.10"
https://github.com/d8ahazard/AudioLab/releases/download/1.0.0/mamba_ssm-2.2.4-cp310-cp310-win_amd64.whl; sys_platform == "win32" and python_version == "3.10"
https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl; sys_platform != "win32" and python_version == "3.10"
https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.6cxx11abiFALSE-cp311-cp311-linux_x86_64.whl; sys_platform != "win32" and python_version == "3.11"
https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.6cxx11abiFALSE-cp312-cp312-linux_x86_64.whl; sys_platform != "win32" and python_version == "3.12"
https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.6cxx11abiFALSE-cp313-cp313-linux_x86_64.whl; sys_platform != "win32" and python_version == "3.13"
https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu124torch2.6.0cxx11abiFALSE-cp310-cp310-win_amd64.whl; sys_platform == "win32" and python_version == "3.10"
https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu124torch2.6.0cxx11abiFALSE-cp311-cp311-win_amd64.whl; sys_platform == "win32" and python_version == "3.11"
https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu124torch2.6.0cxx11abiFALSE-cp312-cp312-win_amd64.whl; sys_platform == "win32" and python_version == "3.12"
https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu124torch2.6.0cxx11abiFALSE-cp313-cp313-win_amd64.whl; sys_platform == "win32" and python_version == "3.13"
huggingface_hub>=0.27.1
jieba
kanjize
librosa>=0.11.0
loguru==0.7.3
matchering>=2.0.6
matplotlib>=3.10.0
metrics
ml_collections
mutagen>=1.47.0
ninja
num2words>=0.5.14
numpy>=2.0.2
omegaconf
onnx
onnxruntime-gpu>=1.21.1
onnxsim
opencv-python>=4.10.0.84
pesq
phonemizer>=3.3.0
praat-parselmouth>=0.4.5
progressbar
protobuf==3.20.0
psola
py3langid
py3langid>=0.3.0
pydub>=0.25.1
pyloudnorm>=0.1.1
pypinyin>=0.53.0
pytorch_lightning==2.5.1
pyworld
pyyaml
reathon
safetensors>=0.5.3
scipy>=1.15.0
segmentation_models_pytorch>=0.3.4
setuptools
soundfile>=0.13.1
sudachidict-full>=20241021
sudachipy>=0.6.10
tensorboardX
thinc>=8.3.6
timm>=0.9.7
torchao
torchcrepe
torchdiffeq>=0.2.5
torchlibrosa>=0.1.0
tqdm
transformers>=4.51.3 
triton-windows==3.2.0.post19; sys_platform == "win32"
triton; sys_platform != "win32"
unidecode>=1.3.8
wandb==0.15.4
wave
webvtt-py
wheel
whisperx>=3.3.4
x-transformers>=2.3.1
xxhash
yt-dlp>=2025.5.22
nnAudio
pyaudio
attributedict