--extra-index-url https://download.pytorch.org/whl/cu121
pip==24.0
accelerate>=0.34.2
audio-separator[gpu]>=0.28.5
chardet
cog
demucs>=4.0.1
diffusers>=0.32.1
einops>=0.8.0
# fairseq>=0.12.2 # This package SUCKS, install manually with the --no-deps flag.
# Windows only
faiss-cpu>=1.9.0.post1; platform_system == "Windows"
faiss-gpu; platform_system != "Windows"
ffmpeg_progress_yield
ftfy>=6.3.1
gradio>=5.12.0
huggingface_hub>=0.27.1
librosa>=0.10.2.post1
matchering>=2.0.6
matplotlib>=3.10.0
ml_collections>=1.0.0
numpy
onnxruntime>=1.20.1; sys_platform == 'darwin'
onnxruntime-gpu>=1.20.1; sys_platform != 'darwin'
opencv-python>=4.10.0.84
pandas>=2.2.3
phonemizer>=3.3.0
praat-parselmouth>=0.4.4
progressbar
pydub>=0.25.1
pyloudnorm>=0.1.1
pyyaml
scipy>=1.15.0
segmentation_models_pytorch>=0.3.4
soundfile>=0.13.0
timm>=0.9.7
torch>=2.4.0
torchaudio>=2.4.0
torchlibrosa>=0.0.9
torchvision>=0.19.0
tqdm
transformers>=4.48.0
unidecode>=1.3.8
whisperx
./wheels/audiosr_next-0.0.8-py3-none-any.whl
